.index {

    background-image: url('../../../public/images/index.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;

}

.index-title {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 2;                 /* canvas보다 위 */
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
.index-con {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  text-align: center;
}
