.admin-add-item {
    background: #e1e1e1;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
  }
  
  /* 제목 */
  .admin-add-item h2 {
    margin-bottom: 20px;
    font-size: 22px;
  }
  
  /* 폼 전체 */
  .admin-add-item form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: #f7f7f7;
    padding: 50px;
    border-radius: 10px;
  }
  
  /* 라벨 */
  .admin-add-item label {
    font-weight: bold;
  }
  
  /* 인풋 공통 */
  .admin-add-item input,
  .admin-add-item textarea {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
  }
  
  /* 텍스트 구역 */
  .admin-add-item textarea {
    height: 120px;
    resize: none;
  }
  
  /* 파일 선택 */
  .admin-add-item input[type="file"] {
    padding: 10px 0;
    border: none;
  }

  .admin-add-item select{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
  }
  
  /* 버튼 */
  .admin-add-item button {
    padding: 12px;
    border: none;
    background-color: #2c4c2c;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .admin-add-item button:hover {
    background-color: #1d351d;
  }
  