@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Hahmlet:wght@100..900&display=swap');

.itemList {
    max-width: 80%;

    /* 중앙 정렬: 이 설정은 유지 */
    margin: 0 auto;
    /* 내부 여백: 유지 */
    padding: 0 20px;

}

.itemList-con h2 {
    text-align: center;
    margin-top: 2vh;

    font-family: "Hahmlet", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;

}

.itemList-banner.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;

    height: 800px;
    /* 원하는 높이로 설정 */
}

.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
    width: 500%;
    overflow: hidden;
}

.slide {
    width: 20%;
    height: 100%;
    object-fit: cover;
}



.item-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 20px;
    width: 80%;
    margin: 4px auto;
    justify-content: center;

}


.item-card {

    height: 100%;
    border: 2px solid #2722ba;
}


.item-card-link {
    text-decoration: none;
    color: inherit;
    display: block;

}


.item-card:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
}

.no-image-text {
    font-size: 12px;
}

.item-image-placeholder {
    width: 100%;
    padding-bottom: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: #999; */
    font-size: 1em;
    font-weight: bold;
}

.item-info {
    padding: 15px;
    flex-grow: 1;

}

.item-info p {
    font-size: 12px;
}

.item-info h4 {
    font-size: 12px;
}

.item-title {
    font-size: 1em;
    margin: 0 0 10px 0;
    color: #444;
    white-space: nowrap;

    text-overflow: ellipsis;
}

.item-price {
    font-size: 1.3em;
    color: #d90429;
    font-weight: bold;
    margin: 0;
}

.price-unit {
    font-weight: normal;
    font-size: 0.7em;
    margin-left: 3px;
    color: #666;
}

.no-items-data {
    grid-column: 1 / -1;
    text-align: center;
    padding: 50px 0;
    font-size: 1.1em;
    color: #888;
}



/* button Section */

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 40px;
    padding: 10px 0;
}

.page-btn {
    background-color: #ffffff;
    color: #333;
    border: 1px solid #ccc;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.2s;
    min-width: 45px;
    font-size: 1em;
}

.page-btn:hover:not(:disabled) {
    background-color: #f0f0f0;
    border-color: #aaa;
}

.page-btn.active {
    background-color: #3498db;
    color: white;
    border-color: #3498db;
    font-weight: bold;
}




@media (max-width: 830px) {

    .item-grid-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        margin-bottom: 20px;
        width: 100%;
        margin: 10px auto;


    }




}