@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Hahmlet:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap");

.boardList{
  background-image: linear-gradient(to top, #28119c,#47247ebf);
  padding: 60px;
  gap: 10px;
}

.boardList-banner{
  background-image: url('../../../public/images/store/swiper/header2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* background-image: linear-gradient(to top,#f0f8ffdd, #ffffff); */
  
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 1px;
  border-radius: 20px;
  border: 4px solid #cd77ffbe;
  
}
/* .boardList-banner img{
  background-color: gray;
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  
} */



.boardList-con {

  background-image: linear-gradient(to top,#f0f8ffc1, #ffffffee);
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5vh;
  border-radius: 20px;
  border: 1px solid #ff0055a9;
}
.boardList-con h2{
   font-family: "Gowun Batang", serif;
  font-weight: bold;
  font-style: normal;
}

/* table section */

.board-table {
  width: 70vw;
  margin: 5px;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
}


.board-table th,
.board-table td {
  padding: 2.5vh;
  border-bottom: 2px solid #2313a1;
  font-size: 13px;

  font-family: "Gowun Batang", serif;
  font-weight: bold;
  font-style: normal;
}

/* Pagenation section */

.pagenation {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 20px 0;
  list-style: none;
  padding: 0;
}

.pagenation li {
  margin: 0 5px;
  list-style: none;
}

.pagenation button {
  border-radius: 6px;
  border: 2px solid #4069c9;
  transition: backgound-color 0.2s, border-color 0.2;
}

.pagenation button:hover {
  &:not([style*="background-color: #4240c9"]) {
    background-color: #91cbf2;
    border-color: aqua;
  }
}

/* button section */
.boardList-post {
  text-align: right;
  width: 80%;
  margin: 10px auto;

  padding: 10px 0;
}

.boardList-post h3 {
  margin: 0;
  display: inline-block;

  padding: 8px 15px;
  border: 1px solid blue;
  background-color: #a8c2ff;

  font-family: "Gowun Batang", serif;
  font-weight: bold;
  font-style: normal;
}

.boardList-post h3:hover {
  background-color: #326ad5;
  border-color: #326ad5;
}


@media (width > 1400px ) {
  .boardList{
    padding: 20px 200px;
  }
  .boardList-con table
  {
    width: 85%
  }
}
