.modal-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.modal-box-crew {

    opacity: 0;
    /* 투명하게 숨기기 */
    visibility: hidden;
    /* 영역을 차지하지 않게 숨기기 */
    transition: opacity 0.3s ease;
    /* 부드럽게 나타나도록 애니메이션 추가 */

    position: absolute;
    top: 1270%;
    /* top: 2100%; */

    transform: translateX(-50%) translateY(-100%);


    background-image: linear-gradient(to bottom, aliceblue, silver);
    /* background-color: aliceblue; */
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;


    z-index: 10;

    white-space: nowrap;
}

.modal-container:hover .modal-box-crew {
    opacity: 1;
    visibility: visible;
}

.modal-box-crew  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.modal-box-crew  li {
    display: block;
    /* <li>는 기본적으로 블록이지만 명시 */
    padding: 5px 15px;
    /* 항목별 상하/좌우 패딩 */
    line-height: 1.5;
}

.modal-box-crew  li a {
    text-decoration: none;
    /* 밑줄 제거 */
    color: #c50000;
    /* 링크 색상 */
    display: block;
    /* 링크가 <li> 영역 전체를 클릭 가능하게 함 */
} 