/* 주문목록 제목 */
.paymentListPage h1 {
  /* text-align: center; 만 적용 */
  text-align: center; 
  font-size: 40px;
  font-weight: bold;
  padding: 10px;
  /* margin-bottom: 16px;  */
  /* h1이 부모 전체 너비를 차지하게 하여 중앙 정렬이 가능하게 함 */
}

/* 주문목록 제목 */
.orderTitle {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

/* 검색바 오른쪽 정렬 */
.paymentSearch {
  display: flex;
  justify-content: flex-end; /* 오른쪽 끝 정렬 */
  gap: 8px;
  margin-bottom: 20px;
}

/* 그리드 스타일 */
.paymentGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
  margin-top: 20px;
  justify-content: center; /* 왼쪽 정렬 */
  padding: 70px; 
}

/* 카드 스타일 */
.orderCard {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  width: 280px;
}

.orderCard .top ul,
.orderCard .bottom ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.orderCard .bottom ul li {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}

/* 페이지네이션 */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
}
